.container {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.mainContainer a {
  text-decoration: underline;
}

.animated-text-link,
.animated-text-link:visited {
  text-decoration: none;
  position: relative;
  transition: border-color .15s ease;
  border-bottom: solid 2px transparent;
}

.animated-text-link:hover,
.animated-text-link:visited:hover {
  border-bottom-color: currentColor;
}

.animated-text-link:hover:after,
.animated-text-link:visited:hover:after {
  width: 100%;
}

.bg-primary {
  background-color: #1f2833;
}

.bg-accent {
  background-color: #66fcf1;
}

.border-white {
  border-color: #fff;
}

.border-t {
  border-top-width: 1px;
}

.h-8 {
  height: 2rem;
}

.leading-loose {
  line-height: 2;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.opacity-25 {
  opacity: .25;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pin-b {
  bottom: 0;
}

.text-greengreytext {
  color: #a5b5c0;
}

.text-white {
  color: #fff;
}

.hover\:text-bluelink:hover {
  color: #4a90e2;
}

.text-sm {
  font-size: .875rem;
}

.w-full {
  width: 100%;
}

.container {
  max-width: 100%;
}

.fixedHeaderContainer a {
  align-items: center;
}

.fixedHeaderContainer {
  background-color: #1f2833;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.fixedHeaderContainer header img {
  height: 1.5rem;
}

.navigationSlider .slidingNav ul {
  margin-top: 74px;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

.onPageNav {
  padding-top: 34px;
  top: 168px !important;
}

.docMainWrapper .wrapper {
  padding-top: 1rem;
}

.navigationSlider .slidingNav ul li > a:focus,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: #1f2833;
}

.navPusher {
  padding-top: 124px;
}

.mainContainer {
  padding: 3rem 0;
}

@media screen and (min-width: 1024px) {
  .mainContainer {
    padding: 40px 0;
  }

  .onPageNav {
    top: 90px !important;
  }

  .navPusher {
    padding-top: 76px;
  }

  .navigationSlider .slidingNav ul {
    margin-top: auto;
  }

  .docMainWrapper .wrapper {
    padding-top: 0;
  }
}

@media (min-width: 576px) {

  .sm\:leading-normal {
    line-height: 1.5;
  }

  .sm\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 768px) {

  .md\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
